
.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.notyNumStyle{
  position: absolute;
  right: -6px;
  top: -9px;
  background-color: rgb(29, 161, 242);
  font-size:  11px;
  color:  white;
  display:  inline;
  padding: 3px 5px;
  border-radius:  20px;
}
.chatBubbleCon{
  position: fixed;
  right: 16px;
  top: 100px;
}
.messageCon{
  background-color: #ccd8f2 !important;
  margin: 7px auto 4px auto;
  height: 82%;
  width: 96%;
  border-radius: 8px;
  overflow: auto;
}
.messageCon::-webkit-scrollbar {
  width: 9px;
}

.messageCon::-webkit-scrollbar-track {
  background: #ccd8f2;
}

.messageCon::-webkit-scrollbar-thumb {
  background-color: #6b717e;
  border-radius: 10px;
  border: 3px solid #ccd8f2;
}
.msg{
  border-radius: 8px;
  width: 100%;
  display: flex;
  width: 92%;
  margin: 10px auto;

}
.msg div{
  border-radius: 8px;
  margin: 3px;
  padding: 2px 4px;
  max-width: 95%;
  min-width: 80px;
  word-wrap: break-word;
  direction: rtl;
}
.self{
  flex-direction: row-reverse;
  text-align: right;
}
.self div{
  background-color: #d9fdd3 !important;
}
.players{
  flex-direction: row;
  text-align: left;
}
.players div{
  background-color: #fff !important;
}
.textCon{
  margin: 11px auto 0 3px;
  width: 96%;
  height: 6%;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}
.textCon button{
  width: 6vh;
  height: 6vh;
}
.textField{

}
.nameTag{
  text-decoration: underline;
  font-weight: bold;
}
.winCon p{
  margin: auto;
  background-color: #ffef4d;
  width: fit-content;
  border: solid 1px #585353;
  border-radius: 3px;
  padding: 2px;
}
.crownImg{
  background-image: url("../playersList/assets/crown.png");
  background-size: cover;
  background-repeat: round;
  width: fit-content;
  text-align: center;
  position: relative;
  height: 27px;
  right: 42px;
}