.body{
  text-align: center;
  background-color: #00000059;
  background-size: cover;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
}
.formContainer{
  z-index: 1;
  position: relative;
  top: 20%;
  display: flex;
  width: 400px;
  height: 220px;
  background-color: #383838;
  border-radius: 8px;
  margin: 10px auto;
  border: solid black 1px;
  justify-content: center;
  flex-direction: column;
}
.h1{
  margin: 0 auto 10px auto;
  position: relative;
  top: 66px;
  width: fit-content;
  color: #fffbe0;
  font-family: Georgia  
}.middleContainer{
  height: 200px;
}
.bottomContainer{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  flex-direction: row-reverse;
  margin-bottom: 10px;
}