.con{
  background-color: #f0f1da;
  border-radius: 10px;
  bottom: 0;
  color: #575757;
  height: 33vh;
  left: 0;
  margin: auto;
  max-height: 600px;
  border: solid;
  min-height: 305px;
  position: absolute;
  right: 0;
  top: 0;
  width: 17%;
  min-width: 210px;
  padding: 6px;
  z-index: 10;
}
.CopyBtn {
  font-family: Georgia;
  font-size: 2vh;
  background-color: #86f2b5;
  padding: 13px 0;
  color: #1c1818;
  width: fit-content;
  padding: 13px;
  height: fit-content;
  border: solid 2px #f5e6e6;
  border-radius: 11px;
  margin: 30px 0 0 0;
  cursor: pointer;
}
.CopyBtn:hover {
  background-color: #f5e6e6;
  border: solid 2px #86f2b5;
  text-decoration: none;
}
.URLdiplay{
  background-color: #7f8284;
  padding: 13px 0;
  color: #d6d7c0;
  width: 70%;
  margin: auto;
  border-radius: 11px;
}
.URLCon{
  display: flex;
  flex-direction: column;
  margin-bottom: 18px;
}
.exit{
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
}
.codeCon{
  margin-bottom: 18px;
}
.btnDisplay{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.ORDisplay{
  margin: 16px;
}