body {
    text-align: center;
    /* background-image: url(https://i.pinimg.com/474x/0e/1f/c2/0e1fc2e0638e878d3ba8db495152164c--custom-fabric-spoonflower.jpg);
    background-repeat: repeat; */
}
.App{
    margin-top: 15%;
}
