.con{
  background-color: #758387;
  color: gainsboro;
  width: fit-content;
  height: 62vh;
  position: absolute;
  min-height: 380px;
  min-width: 260px;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: 10;
  border-radius: 10px;
}
.Btn {
  border-radius: 5px;
  color: "black";
  border: none;
  font-family: Georgia;
  margin: 3vh 0;
  font-size: 1vw;
  width: 29%;
  padding: 8px;
  cursor: pointer;
}
.Btn:hover {
  background-image: -webkit-linear-gradient(top, #545454, #6F6F6F);
  text-decoration: none;
}

.btnCon{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.codeCon{
  margin-bottom: 18px;
}
.h1{
  font-size: 5vh;
}






