.background{
    background-size: cover;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
    top: 0;
}
.h1{
    color: rgb(0 0 0 / 82%);
    font-size: 4em;
    position: relative;
    margin: 0 auto;
    top: 4rem;
    width: fit-content;
}
.buttonContainer{
    display: flex;
    max-width: 215px;
    width: 55%;
    margin: 0 auto;
    position: relative;
    top: 8rem;
    flex-direction: column;
}
.button{
  padding: 15px;
  background-color: #515246;
  color: #dfd6d6;
  border: solid 1px #515246;
  border-radius: 7px;
  margin: 20px 0 20px 0px;
  cursor: pointer;
}
.button:hover{
  background-color: #fefff3;
  color: #362c2c;
}

