.body{
    background-size: cover;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
    top: 0;
}
.main_container{
  background-size: cover;
  background-repeat: round;
  position: absolute;
  height: 100%;
  width: 75%;
  margin: 0 auto;
  right: 11%
}
.container{
  position: relative;
  top: 18%;
  width: 50%;
  height: 50%;
  margin: 0 auto;
}