.judgeCon{
  overflow: auto;
}
.mainCon{
  overflow: auto;
}
.cardsCon{
  overflow: auto;
  margin: auto;
}
.box{
  padding: 30px 0 30px 0;
  display: flex;
  width: fit-content;
  margin: auto;
}
.circularPro{
  overflow: hidden;
  margin: 30px auto;
  text-align: center;
}
.leaveCon{
  padding: 4px 16px;
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 4px;
  position: absolute;
  top: 56px;
  right: 0;
  background-color: #c21f1f;
  cursor: pointer;
}
.cardsCon::-webkit-scrollbar {
  width: 2px;
  height: 9px;
}

.cardsCon::-webkit-scrollbar-track {
  background: #ccd8f2;
}

.cardsCon::-webkit-scrollbar-thumb {
  background-color: #6b717e;
  border-radius: 10px;
  border: 3px solid #ccd8f2;
}
.card{
  box-shadow: 0px 2px 8px 4px black;
  min-width: 17vh;
  max-width: 17vh;
  border: black solid 1px;
  padding: 5px;
  font-weight: bold;
  height: 20vh;
  word-wrap: break-word;
  border-radius: 6px;
  background: white;
  font-size: 100%;
  overflow: auto;
}

.card::-webkit-scrollbar {
  width: 2px;
}

.card::-webkit-scrollbar-track {
  background: #ccd8f2;
}

.card::-webkit-scrollbar-thumb {
  background-color: #6b717e;
  border-radius: 10px;
}
.title{
  text-align: center;
}
.white:hover {
  z-index: 1;
  transform: scale(1.3);
}
.black{
  background: rgb(21, 21, 21);
  color: rgb(255, 255, 255);
}
.white{
  background: white;
  cursor:pointer;
  margin: 4px 4px 4px -35px;
}
.noCard{
  min-width: 17vh;
  max-width: 17vh;
  border: black dashed;
  padding: 5px;
  font-weight: bold;
  height: 20vh;
  word-wrap: break-word;
  border-radius: 6px;
  background: white;
}
.noCard p{
  width: min-content;
  text-align: center;
  margin: 5% auto;
  color: #989c9f;
}

.blackCardCon{
  width: 100%;
}
.blackCardBox{
  display: flex;
  justify-content: space-evenly;
  flex-direction: row-reverse;
  width: 50%;
  margin: auto;
}
.doneBtnCon{
  width: 100%;
  margin: 20px auto;
}
.doneBtnBox{
  text-align: center;
}
.doneBtnBox button{
  padding: 4px;
  margin: auto;
  border: none;
  width: 7vw;
  min-width: 90px;
  height: 5vh;
  background: #98f180;
  cursor: pointer;
  border-radius: 6px;
  font-size: 2vh;
}
.flex{
  display: flex;
}
.doneBtnBox p{
  margin: auto;
  padding: 4px;
}
@media (max-width: 500px) {
  .card {
    font-size: 50%;
  }
}
@media (max-width: 700px) {
  .card {
    font-size: 90%;
  }
}
